:root {
    --bg-color-gray: #e0e0e0;
    --bg-color-white: #fff;
    --sdw-gray: 5px 5px 15px #c0c0c0;
    --sdw-white: -5px 5px 15px #fff;
  }
  
body {
    background-color: var(--bg-color-gray);
  }
  
.container {
    margin: 10px 10px 30px;
  }
  
.container-input {
    width: 300px;
    padding: 10px;
    margin: auto;
    border-radius: 50px;
  
    box-shadow: var(--sdw-gray), var(--sdw-white);
  
    display: flex;
  }
  
.container-input:hover {
    box-shadow: 5px 5px 15px #eee;
}

.radios {
    display: none;
}

.label-radio { 
    font-family: sans-serif;
    font-weight: 600;
    color: #bbb;
    
    cursor: pointer;
    transition: .5s;
}

.label-radio:hover, .radios:checked + .label-radio {
    color: #666;
}


/*###################################              QUESTION 1*/
#container-input-radio-1 {
    position: relative;
    width: 380px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
}

#btn-radio-1 {
    content: "";
    position: absolute;

    width: 100px;
    height: 40px;

    border: 2px solid #e5e5e5;
    border-radius: 40px;

    background-color: transparent;
    box-shadow: var(--sdw-gray);

    transition: .5s;
}

#btn-radio-1:hover {
    border: 2px solid #fff;
}

#radio-1:checked ~ #btn-radio-1 {
    left: 20px;
}

#radio-2:checked ~ #btn-radio-1 {
    left: 145px;
}

#radio-3:checked ~ #btn-radio-1 {
    left: 272px;
}
/*###################################              QUESTION 2*/

#container-input-radio-2 {
    position: relative;
    width: 450px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
}

#btn-radio-2 {
    content: "";
    position: absolute;

    width: 150px;
    height: 40px;

    border: 2px solid #e5e5e5;
    border-radius: 40px;

    background-color: transparent;
    box-shadow: var(--sdw-gray);

    transition: .5s;
}

#btn-radio-2:hover {
    border: 2px solid #fff;
}

#radio-4:checked ~ #btn-radio-2 {
    left: 15px;
}

#radio-5:checked ~ #btn-radio-2 {
    left: 170px;
    width: 120px;
}

#radio-6:checked ~ #btn-radio-2 {
    left: 296px;
}
/*###################################              QUESTION 3*/
#container-input-radio-3 {
    position: relative;
    width: 430px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
}

#btn-radio-3 {
    content: "";
    position: absolute;

    width: 150px;
    height: 40px;

    border: 2px solid #e5e5e5;
    border-radius: 40px;

    background-color: transparent;
    box-shadow: var(--sdw-gray);

    transition: .5s;
}

#btn-radio-3:hover {
    border: 2px solid #fff;
}

#radio-7:checked ~ #btn-radio-3 {
    left: 20px;
}

#radio-8:checked ~ #btn-radio-3 {
    left: 190px;
    width: 120px;
}

#radio-9:checked ~ #btn-radio-3 {
    left: 315px;
    width: 120px;
}
/*###################################              QUESTION 4*/
#container-input-radio-4 {
    position: relative;
    width: 430px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
}

#btn-radio-4 {
    content: "";
    position: absolute;

    width: 100px;
    height: 40px;

    border: 2px solid #e5e5e5;
    border-radius: 40px;

    background-color: transparent;
    box-shadow: var(--sdw-gray);

    transition: .5s;
}

#btn-radio-4:hover {
    border: 2px solid #fff;
}

#radio-10:checked ~ #btn-radio-4 {
    left: 20px;
}

#radio-11:checked ~ #btn-radio-4 {
    left: 140px;
}

#radio-12:checked ~ #btn-radio-4 {
    left: 260px;
}